---
interface Props {
	title: string;
}

const { title } = Astro.props;

/* Carga de fuentes */
import '@fontsource/righteous';
import '@fontsource-variable/onest';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portafolio personal marca desarrollo web diseño ux ui freelancer hoja de vida" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		
	}
	html {
		box-sizing: border-box;
	}
	h1,h2,h3,h4{
		font-family: 'Righteous', system-ui;

	}
	a,p{
		text-decoration: none;
		font-family: 'Onest Variable', sans-serif;
		font-weight: 500;
	}
	a{
		cursor: pointer;
	}
	.contenedor{
		width: 100%;
		max-width: 75em;
		margin: 0 auto;
	}

	.text-degradado{
		background: rgb(156, 26, 4);
		background: linear-gradient(133deg, rgba(204, 66, 32, 1) 0%, rgba(232, 102, 67, 1) 25%, rgba(237, 133, 58, 1) 50%, rgba(232, 103, 67, 1) 71%, rgba(204, 66, 32, 1) 100%);
		background-size: 200% 200%;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		animation: bg_Animated 10s ease infinite;
	}

	@keyframes bg_Animated {
		0% {
    		background-position: 0% 67%;
		}
		50% {
			background-position: 100% 34%;
		}
		100% {
			background-position: 0% 67%;
		}
	}
</style>
